.heading {
  font-size: 50px;
  text-align: center;
}

#container {
  width: 432px;
  height: 432px;
  border: 1px solid black;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

#container div {
  display: inline-block;
  vertical-align: top;
}

.cell {
    border: 1px solid black;
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
  }

  .input {
    display: inline-block;
    margin: auto;
  }