* {
  font-family: 'Sue Ellen Francisco', cursive !important;
}

body {
  background-color:dodgerblue;
}

.title-head {
  font-size: 100px;
  text-align: center;
  margin: 50px 0 50px 0;
  
}

#container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  margin: 10px auto 10px auto;
  box-shadow: 10px 5px 5px rgb(255, 41, 41);
  border-radius: 2px;
}

#container:hover {
  box-shadow: 10px 5px 5px rgb(228, 223, 75);
}

.box {
  background: #ffffff;
  border-left: #000000 1px solid;
  border-bottom: #000000 1px solid;
  display: inline-block;
  box-sizing: border-box;
}

.row {
  display: block;
  width: 100%;
  font-size: 0;
}

.row:first-child {
  border-top: #000000 1px solid;
}

.row .box:last-child {
  border-right: #000000 1px solid;
}

.area-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0px 0;
  }

.default {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

#dad {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.input, .button {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  box-shadow: 10px 5px 5px rgb(255, 41, 41);
  font-size: 30px;
  border: 1px solid black;
  border-radius: 2px;
  outline:none;
  }

.button {
  background-color: rgb(201, 196, 196);
  min-width: 200px;
  }

.button:hover {
  cursor: pointer;
  box-shadow: 10px 5px 5px rgb(228, 223, 75);
  background-color: rgb(107, 106, 106);
}

.input:hover {
  box-shadow: 10px 5px 5px rgb(228, 223, 75);
}

.button:active {
  transform: translateY(1px);
}

.input {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 120px;
  }

.input:focus {
  color: black;
}